<
@{
    Layout = null;
}

<h1>
    yeni kategori ekleme sayfası
</h1>
<br/>
<form class="form-group" method="post">
    <input type="text" placeholder="kategori adı" name="CategoryName" class="form-control" />
    <br/>
    <input type="text" placeholder="açıklama giriniz" name="CategoryDescription" class="form-control" />
    <br />
    <button class="btn btn-primary">Ekle</button>
</form>
